.contenedor-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}
.contenedor-form h1 {
    text-align: center;
    padding-top: 10px;
}
.botongenerarform, .botondescargascript {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
form label {
    display: block;
    margin: 15px 0 5px;
}
form input {
    width: 95.5%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.contenedor-form-botones-guia a {
    width: 300%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
}
